.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.img {
   object-fit: cover;
   object-position: top center;
   width: 270px;      
   height: 270px; 
   border-radius: 50%;
   border: 2px solid rgb(209, 209, 209);
   filter: brightness(70%);
}

.name {
  position: absolute;
  bottom: 290px;
  width: 100vw;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 70px;
}

.description {
  margin-top: 40px;
  width: 100vw;
  text-align: center;
  color: white;
  font-weight: bolder;
}