

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px ;
}

.img {
   object-fit: cover;
   object-position: top center;
   width: 270px;      
   height: 270px; 
   border-radius: 50%;
   border: 2px solid rgb(209, 209, 209);
   filter: brightness(70%);
}

.name {
  margin-top: -50px;
  width: 100vw;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 70px;
  z-index: 0;
}

.description {
  margin-top: 40px;
  width: 100vw;
  text-align: center;
  color: white;
  font-weight: bolder;
}

@media (max-width: 410px) {
  .name {
    margin-top: -95px;
    width: 200px;
    font-size: 60px;
  }
  .img {
    width: 245px;      
    height: 245px; 
 }

 .avatar{
  margin-top: 150px ;
 }


}